# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDEA / VS Code project files
.vscode/
.idea/

# Java crash logs
hs_err_pid*

db.properties
